.App {
  width: 60%;
  margin: 0px auto;
  top: 50%;
}

.List-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: solid 1px red;
  justify-content: space-between;
}
.Title-left {
  align-self: flex-start;
}

.Button-right {
  align-self: flex-end;
}
.Button-left {
  align-self: flex-start;
}
.divider {
  border-top: 1px solid black;
  margin: 10px 0;
}
.List-vertical-left {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.List-vertical-right {
  width: 85%;
  display: flex;
  flex-direction: column;
}
.Votes {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.Askquestion-container {
  display: flex;
  flex-direction: column;
}
.Askquestion {
  display: flex;
  flex-direction: column;
}
