.App {
  width: 60%;
  margin: 0px auto;
  top: 50%;
}

.List-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: solid 1px red;
  justify-content: space-between;
}
.Box-left {
  align-self: flex-start;
}

.Box-right {
  align-self: flex-end;
}
