.App {
  width: 60%;
  margin: 0px auto;
  top: 50%;
}

.List-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Title-left {
  align-self: flex-start;
}

.Button-right {
  align-self: flex-end;
  align-self: center;
}
.Button-left {
  align-self: flex-start;
}
.divider {
  border-top: 1px solid black;
  margin: 10px 0;
}
.List-vertical-left {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.List-vertical-right {
  width: 85%;
  display: flex;
  flex-direction: column;
}
.Votes {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
}
.Askquestion-container {
  display: flex;
  flex-direction: column;
}
.Askquestion {
  display: flex;
  flex-direction: column;
}
.h1 {
  line-height: 1.3;
  margin: 0 0 1em;
  font-size: 1em;
}

.h3 {
  line-height: 1.3;
  margin: 0 0 1em;
  font-size: 0.5em;
}
.h3 blue {
  color: rgb(243, 81, 12);
}

.Bottom-space {
  margin-bottom: 1em;
}
.smallfont {
  font-size: 12px;
}
.Lineheight {
  line-height: 1.3;
  margin: 0 0 1em;
  font-size: 1em;
}

.Space-between {
  justify-content: space-between;
}
.Padding-top {
  padding-top: 15px;
}
.Border-gray {
  border: solid 1px gray;
}

.Padding {
  padding: 20px;
}

.divider-noborder {
  margin: 10px 0;
}
.Margin-top {
  margin-top: 10px;
}
